#pokemon{
    background-image: url("pkmn2.gif");
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
img{
    size: 15%;
}